# *1
# Custom stuff for character-set-server = utf8mb4 & collation-server=utf8mb4_unicode_ci
version: "3.4"
services:
  airsonic-advanced:
    image: airsonicadvanced/airsonic-advanced:{{ docker_image_version.airsonic_advance }}
    container_name: airsonic-advanced
    environment:
      - PUID={{ docker_destination_user_id }}
      - PGID={{ docker_destination_user_id }}
      - TZ=Europe/Amsterdam
      - spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
      - spring.datasource.url=jdbc:mariadb://airsonic-advanced-db:3306/airsonic
      - spring.datasource.username=
      - spring.datasource.password=
      - JAVA_OPTS=-Dserver.forward-headers-strategy=native
    volumes:
      - ./data/airsonic/playlists:/var/playlist
      - ./data/airsonic/config:/opt/airsonic
      - ./data/airsonic/var/transcode:/var/airsonic/transcode
      - ./data/airsonic/var:/var/airsonic
    expose:
      - "4040"
    devices:
      - /dev/snd:/dev/snd #optional
    restart: unless-stopped
    depends_on:
      - airsonic-advanced-db
    user: {{ docker_destination_user_id }}:{{ docker_destination_user_id }}  
    networks:
      - default
    deploy:
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 2048M

  airsonic-advanced-db:
    image: linuxserver/mariadb:{{ docker_image_version.maria_db }}
    container_name: airsonic-advanced-db
    volumes:
      - ./data/db/config:/config/
      - ./custom.cnf:/config/custom.cnf # (1)
      - /etc/localtime:/etc/localtime:ro
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_PASSWORD=
      - MYSQL_DATABASE=airsonic
      - MYSQL_USER=airsonic
    restart: unless-stopped
    networks:
      - default
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 256M

networks:
  default:
    name: services_network
    external: true
