domain xxxxxxxx
search xxxxxxxx
nameserver {{ pink_floyd_network_dns_address_v4 }}
nameserver {{ backup_dns_ip_address_v4 }}
nameserver {{ pink_floyd_network_dns_address_v6 }}
nameserver {{ backup_dns_ip_address_v6 }}
